__pycache__/
record/
trained_models/
wandb/
results/
scenes/
test_scenes/
video/
runs/
data/
img/
ckpt/
*.dat
.ipynb_checkpoints/
.idea/
*.pyc
.*.swp
test.py
test.png
*.h5
*.zip
rgb.npy
.DS_Store
MUJOCO_LOG.TXT
seg_resnet34_8s_embedding_cosine_rgbd_add_sampling_epoch_16.checkpoint.pth
test/
scenarios/
